$main-color: #1ab798;
$bg-color-watch: #31d4e7;
$white-color: #ffffff;
$team-text-color: #062033;
$base-font: 'Open Sans', Helvetica, Arial, sans-serif;
$accent-font: 'Relaway', Georgia, 'Times New Roman', serif;
